<div class="mypost" *ngIf="!isloading">
  <div class="mypost-vote">
    <i class="fa-solid fa-arrow-up "  (mouseenter)="isHoveredOnArrowUp=true" (mouseleave)="isHoveredOnArrowUp=false"
       [ngClass]="{'fa-bounce':isHoveredOnArrowUp}" style="color: #5e5a5c;cursor: pointer;"></i>
    <span class="mypost-vote-number">{{post.voteCount}}</span>
    <i class="fa-solid fa-arrow-down "  (mouseenter)="isHoveredOnArrowDown=true" (mouseleave)="isHoveredOnArrowDown=false"
       [ngClass]="{'fa-bounce':isHoveredOnArrowDown}" style="colo r: #5e5a5c;cursor: pointer;"></i>
  </div>
  <div class="mypost-info">
    <div class="mypost-info-header">
      <span class="mypost-info-header-sub">{{post.subredditName}} . </span>Posted By
      <span class="mypost-info-header-user">{{post.userName}}</span>.
      <span class="mypost-info-header-time">{{post.duration}}</span>.
    </div>
    <div class="mypost-info-main">
      <div class="mypost-info-main-title">{{post.postName}}</div>
      <div class="mypost-info-main-subtitle" [innerHTML]="post.description"> </div>
    </div>
    <div class="mypost-info-footer">
      <textarea placeholder="Your Thoughts?"  [(ngModel)]="commetText"></textarea>
      <button class="comment-btn" (click)="PostComment()" >Comment</button>
    </div>
    <app-single-comment [mycomment]="item" *ngFor="let item of commentlist">></app-single-comment>
  </div>
</div>
<div class="myspinner" *ngIf="isloading">
  <app-spinner></app-spinner>
</div>
