<div class="mysidebar">
  <div class="mysidebar-img">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
  </div>
  <div class="mysidebar-main">
    Welcome to Spring Reddit Clone home page. Come here to
    check in with your favorite subreddits.
  </div>
  <div class="mysidebar-footer">
    <div class="mysidebar-footer-createpostbtn">
      <button routerLink="/createPost" >CREATE POST</button>
    </div>
    <div class="mysidebar-footer-createsubredditbtn">
    <button routerLink="/createSubreddit" >CREATE SUBREDDIT</button>
    </div>
  </div>
</div>
